.checked {
    color: orange;
}

.fa-star {
    cursor: pointer;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
    height: 330px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: .8;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

.card-footer {
    background: #fbfafd;
}


a.navbar-brand {
    white-space: normal;
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #252152;
    border-color: #252152;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #0800ff;
        border-color: #0800ff;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

p {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

ul {
    font-family: 'Nunito', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;
}
/*Backgrounds*/
.bg-navbar {
    background: -webkit-linear-gradient(110deg, #df2323 60%, #808080 60%);
    background: -o-linear-gradient(110deg, #df2323 60%, #808080 60%);
    background: -moz-linear-gradient(110deg, #df2323 60%, #808080 60%);
    background: linear-gradient(110deg, #df2323 60%, #808080 60%);
}

.bg-footer {
    background: -webkit-linear-gradient(110deg, #df2323 60%, #808080 60%);
    background: -o-linear-gradient(110deg, #df2323 60%, #808080 60%);
    background: -moz-linear-gradient(110deg, #df2323 60%, #808080 60%);
    background: linear-gradient(110deg, #df2323 60%, #808080 60%);
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}


.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}
/* Style the search box inside the navigation bar */
.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 15px;
    margin-left: 17px;
    font-size: 17px;
}

.topnav .search-container button {
    float: right;
    padding: 4px 10px;
    margin-top: 14px;
    margin-right: 40px;
    font-size: 17px;
    cursor: pointer;
    background: #242323;
}

.topnav .search-container button:hover {
    background: #ccc;
}
.icon {
    float: right;
    padding: 2px 5px;
    margin-top: 1px;
}

/*Sets list style*/
ul.a {
    list-style-type: disc;
}

/*Making item images display side-by-side using the CSS float property*/
* {
    box-sizing: border-box;
}

/*Column attributes for ItemPage*/
.column-i {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/*Column image size for ItemPage*/
.column-i img {
    width: 300px;
    height: 400px;
}

/*Setting row attributes*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

/*Making links blue*/
a {
    color: blue;
}

/*Centering header text*/
h2 {
    text-align: center;
}

/*Centering paragraph text*/
p-i {
    text-align: center;
}