@page
@model RedhawksTradingPost.Pages.CreatePostPageModel
@{
    ViewData["Title"] = "CreatePostPage";
}

<!--Page Title-->
<h1>
    Create New Post
</h1>

<div class="title_and_buttons">
    <!--Posting title text box-->
    <h4>
        Posting Title
    </h4>

    <!--Title text area, max = 100 characters-->
    <textarea id="title" rows="1" cols="80" maxlength="100" required></textarea>

    <!--Category drop down button-->
    <div class="btn-group">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    id="category" button style="margin:0px 10px 20px 20px">
                Category
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Appliances</a>
                <a class="dropdown-item" href="#">Arts+Crafts</a>
                <a class="dropdown-item" href="#">Books</a>
                <a class="dropdown-item" href="#">Electronics</a>
                <a class="dropdown-item" href="#">Furniture</a>
                <a class="dropdown-item" href="#">Office Supplies</a>
                <a class="dropdown-item" href="#">Tools</a>
            </div>
        </div>
    </div>

    <!--Condition drop down button: new, good, fair, worn-->
    <div class="btn-group">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    id="condition" button style="margin:0px 10px 20px 10px">
                Condition
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">New</a>
                <a class="dropdown-item" href="#">Good</a>
                <a class="dropdown-item" href="#">Fair</a>
                <a class="dropdown-item" href="#">Worn</a>
            </div>
        </div>
    </div>

    <!--Owner drop down button, either SU property or personal property-->
    <div class="btn-group">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    id="owner" button style="margin:0px 10px 20px 10px">
                Owner
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">SU Property</a>
                <a class="dropdown-item" href="#">Personal</a>
            </div>
        </div>
    </div>
</div>

<div class="item_description">
    <!--Item description text box, max = 1000 characters-->
    <h4>
        Item Description
    </h4>
    <textarea id="description" name="description" rows="15" cols="135" maxlength="1000" required></textarea>
</div>

<div class="image_and_delete_and_submit_buttons" style="margin:20px 0px 0px 0px">
    <!--Uploading images-->
    <form action="upload.php" method="post" enctype="multipart/form-data">
        Select image to upload:
        <input type="file" class="btn btn-primary" name="fileToUpload"
               id="fileToUpload" accept=".gif,.jpg,.png" style="padding:3px">
        <input type="submit" class="btn btn-primary" value="Upload Image" name="upload">

        <!--Delete and submit buttons-->
        <a href="/Index" type="button" class="btn btn-primary" button style="margin:0px 10px 0px 190px">Delete</a>
        <a href="/UserPage" type="button" class="btn btn-primary" button style="margin:0px 10px 0px 10px">Submit</a>
    </form>
</div>

<!--Code for creating a new product-->
@{
    string CreatePost()
    {
        <!--Creates the new Product to add-->
        RedhawksTradingPost.Models.Product listing = new RedhawksTradingPost.Models.Product();
        <!--Product attributes, currently using filler text-->
        listing.ID = "id";
        listing.Maker = "maker";
        listing.Image = "image";
        listing.Url = "url";
        listing.Title = "title";
        listing.Description = "description";
        <!--Adds the product to the list of current postings-->
        Model.ProductService.AddProduct(listing);

        return "Post Created!";
    }
}