@page
@model RedhawksTradingPost.Pages.CreatePostPageModel
@{
    ViewData["Title"] = "CreatePostPage";
}

<!--Page Title-->
<h1>
    Create New Post
</h1>

<div class="title_and_buttons">
    <!--Posting title text box-->
    <h4>
        Posting Title
    </h4>

    <!--Title text area-->
    <textarea id="title" rows="1" cols="80" maxlength="100" required></textarea>

    <!--Category drop down button-->
    <div class="btn-group">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="category" button style="margin:0px 10px 20px 20px">
                Category
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Appliances</a>
                <a class="dropdown-item" href="#">Arts+Crafts</a>
                <a class="dropdown-item" href="#">Books</a>
                <a class="dropdown-item" href="#">Electronics</a>
                <a class="dropdown-item" href="#">Furniture</a>
                <a class="dropdown-item" href="#">Office Supplies</a>
                <a class="dropdown-item" href="#">Tools</a>
            </div>
        </div>
    </div>

    <!--Condition drop down button-->
    <div class="btn-group">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="condition" button style="margin:0px 10px 20px 10px">
                Condition
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">New</a>
                <a class="dropdown-item" href="#">Good</a>
                <a class="dropdown-item" href="#">Fair</a>
                <a class="dropdown-item" href="#">Worn</a>
            </div>
        </div>
    </div>

    <!--Owner drop down button-->
    <div class="btn-group">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="owner" button style="margin:0px 10px 20px 10px">
                Owner
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">SU Property</a>
                <a class="dropdown-item" href="#">Personal</a>
            </div>
        </div>
    </div>
</div>

<div class="item_description">
    <!--Item description text box-->
    <h4>
        Item Description
    </h4>
    <textarea id="description" rows="15" cols="135" maxlength="1000" required></textarea>
</div>

<div class="image_and_delete_and_submit_buttons" style="margin:20px 0px 0px 0px">
    <!--Uploading images-->
    <form action="upload.php" method="post" enctype="multipart/form-data">
        Select image to upload:
        <input type="file" class="btn btn-primary" name="fileToUpload" id="fileToUpload" button style="padding:3px">
        <input type="submit" class="btn btn-primary" value="Upload Image" name="upload">

        <!--Delete and submit buttons-->
        <input type="button" class="btn btn-primary" value="Delete" button style="margin:0px 10px 0px 190px"/>
        <input type="button" class="btn btn-primary" value="Submit" button style="margin:0px 10px 0px 10px"/>
    </form>
</div>
