@page
@model RedhawksTradingPost.Pages.CreatePostPageModel
@{
    ViewData["Title"] = "CreatePostPage";
}

<h1>Create New Post</h1>

<div class="btn-group">
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Category
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Appliances</a>
            <a class="dropdown-item" href="#">Arts+Crafts</a>
            <a class="dropdown-item" href="#">Books</a>
            <a class="dropdown-item" href="#">Electronics</a>
            <a class="dropdown-item" href="#">Furniture</a>
            <a class="dropdown-item" href="#">Office Supplies</a>
            <a class="dropdown-item" href="#">Tools</a>
        </div>
    </div>
</div>

<img src="~/img/postingpage.JPG"/>