@page
@model RedhawksTradingPost.Pages.CreatePostPageModel
@{
    ViewData["Title"] = "CreatePostPage";
}

<h1>Create New Post</h1>

<label>
    Posting Title
</label>
<input type="text" id="title" />

<div class="btn-group">
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="category">
            Category
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Appliances</a>
            <a class="dropdown-item" href="#">Arts+Crafts</a>
            <a class="dropdown-item" href="#">Books</a>
            <a class="dropdown-item" href="#">Electronics</a>
            <a class="dropdown-item" href="#">Furniture</a>
            <a class="dropdown-item" href="#">Office Supplies</a>
            <a class="dropdown-item" href="#">Tools</a>
        </div>
    </div>
</div>

<div class="btn-group">
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="condition">
            Condition
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">New</a>
            <a class="dropdown-item" href="#">Good</a>
            <a class="dropdown-item" href="#">Fair</a>
            <a class="dropdown-item" href="#">Worn</a>
        </div>
    </div>
</div>

<div class="btn-group">
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="owner">
            Owner
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">SU Property</a>
            <a class="dropdown-item" href="#">Personal</a>
        </div>
    </div>
</div>


<p>
    <label>
        Item Description
    </label>

    <textarea id="description" rows="10" cols="100"></textarea>
</p>

<p>
    <input type="button" class="btn btn-primary" value="Delete" />
    <input type="button" class="btn btn-primary" value="Submit" />
</p>

<img src="~/img/postingpage.JPG" />so if