@page
@model RedhawksTradingPost.Pages.ItemPageModel
@{
    ViewData["Title"] = "ItemPage";
}


    <p style="text-align:center;">
        <img src="~/img/modernChair.png" width="350" height="450">
    </p>

        <center>
            <h1>Modern Office Chair</h1>
        </center>
    
