@page
@model RedhawksTradingPost.Pages.ItemPageModel
@{
    ViewData["Title"] = "ItemPage";
}

<!--Styles in CSS-->
<html>
<head>
    <style>



        /*Making item images display side-by-side using the CSS float property*/
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 33.33%;
            padding: 5px;
        }

        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        /*Making links blue*/
        a {
            color: blue;
        }

        /*Centering header text*/
        h1 {
            text-align: center;
        }

        /*Centering paragraph text*/
        p {
            text-align: center;
        }
    </style>
</head>

<body>
    <!--Item Pictures-->
    <div class="row">
        <div class="column">
            <!--Item Picture 1-->
            <img src="~/img/modernChair.png" width="300" height="400">
        </div>

        <div class="column">
            <!--Item Picture 2-->
            <img src="~/img/modernChairSide.png" width="300" height="400">
        </div>

        <div class="column">
            <!--Item Picture 3-->
            <img src="~/img/modernChairBack.png" width="300" height="400">
        </div>
    </div>

</body>
</html>


<!--Main Container-->
<div class="container">
    <h1>Modern Office Chair</h1>
    <br>

    <div class="row">
        <!--Left Column-->
        <div class="col-md-3">
            <!--Date posted-->
            Posted May 24, 2020.

            <!--Item Category-->
            <br>
            <b>Category: </b>Furniture

            <!--Item Condition-->
            <br>
            <b>Condition: </b>Good
        </div>

        <!--Right Column-->
        <div class="col-md-9">
            <!--Item Desctiption-->
            The leather ages beautifully. The safety casters have a pressure-sensitive brake mechanism that keeps
            the chair in place when you stand up, and releases automatically when you sit down. Seat and backrest
            are adjustable in height and give you maximum support regardless of your height. You get good support
            for your thighs and back since the seat depth is adjustable. You can lean back with perfect balance,
            as the tilt tension mechanism automatically adjusts the resistance to suit your weight and movements.
        </div>
    </div>

    <br>
    <br>

    <!-- Report Button to Open the Modal -->
    <center>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
            Report Item
        </button>
    </center>


    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Report Item</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Click to confirm reporting this item for violating the Redhawks
                    Trading Post's Terms of Use.
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</div>

<br>


<!--Make an Offer Pop-Up Form-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        /* Button used to open the contact form - fixed at the bottom of the page */
        .open-button {
            background-color: #2ECC71;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            opacity: 0.8;
            position: fixed;
            bottom: 23px;
            right: 28px;
            width: 280px;
        }

        /* The popup form - hidden by default */
        .form-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9;
        }

        /* Add styles to the form container */
        .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: white;
        }

            /* Full-width input fields */
            .form-container input[type=text], .form-container input[type=password] {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: none;
                background: #f1f1f1;
            }

                /* When the inputs get focus, do something */
                .form-container input[type=text]:focus, .form-container input[type=password]:focus {
                    background-color: #ddd;
                    outline: none;
                }

            /* Set a style for the submit/login button */
            .form-container .btn {
                background-color: #4CAF50;
                color: white;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                width: 100%;
                margin-bottom: 10px;
                opacity: 0.9;
            }

            /* Add a red background color to the cancel button */
            .form-container .cancel {
                background-color: red;
            }

            /* Add some hover effects to buttons */
            .form-container .btn:hover, .open-button:hover {
                opacity: 1;
            }
    </style>
</head>
<body>

<!--Make an Offer Form Button-->
    <button class="open-button" onclick="openForm()">Make an Offer</button>

    <div class="form-popup" id="myForm">
        <form action="/action_page.php" class="form-container">
            <h1>Login</h1>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit" class="btn">Login</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>

    <script>function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }</script>

</body>
</html>
