@page
@model RedhawksTradingPost.Pages.ItemPageModel
@{
    ViewData["Title"] = "ItemPage";
}


<!--Rows-->
<div class="row">

    <!--Column 1-->
    <div class="column-i">

        <!--Item Picture 1-->
        <img src="~/img/modernChair.png">
    </div>

    <!--Column 2-->
    <div class="column-i">

        <!--Item Picture 2-->
        <img src="~/img/modernChairSide.png">
    </div>

    <!--Column 3-->
    <div class="column-i">

        <!--Item Picture 3-->
        <img src="~/img/modernChairBack.png">
    </div>
</div>



<!--Main Container-->
<div class="container">

    <!--Item title header-->
    <h2>Modern Office Chair</h2>
    <br>

    <!--Rows-->
    <div class="row">

        <!--Left Column-->
        <div class="col-md-3">

            <!--Date posted-->
            Posted May 24, 2020.

            <br>

            <!--Item Category-->
            <b>Category: </b>Furniture

            <br>

            <!--Item Condition-->
            <b>Condition: </b>Good
        </div>

        <!--Right Column-->
        <div class="col-md-9">

            <!--Item Desctiption-->
            The leather ages beautifully. The safety casters have a pressure-sensitive brake mechanism that keeps
            the chair in place when you stand up, and releases automatically when you sit down. Seat and backrest
            are adjustable in height and give you maximum support regardless of your height. You get good support
            for your thighs and back since the seat depth is adjustable. You can lean back with perfect balance,
            as the tilt tension mechanism automatically adjusts the resistance to suit your weight and movements.
        </div>
    </div>

    <br>
    <br>


    <center>
        <!-- Report Button to Open the Modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
            Report Item
        </button>
    </center>


    <!-- The Report Modal -->
    <div class="modal" id="myModal">

        <!--Modal class-->
        <div class="modal-dialog">

            <!--Modal content-->
            <div class="modal-content">

                <!--Modal Header-->
                <div class="modal-header">

                    <!--Modal title-->
                    <h4 class="modal-title">Report Item</h4>

                    <!--Modal close button-->
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body text-->
                <div class="modal-body">
                    Click to confirm reporting this item for violating the Redhawks
                    Trading Post's Terms of Use.
                </div>

                <!--Modal footer-->
                <div class="modal-footer">

                    <!--Modal footer confirm button-->
                    <button type="button" class="btn btn-success" data-dismiss="modal">Confirm</button>

                    <!--Modal footer cancel button-->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<!--Make an Offer Pop-Up Form-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        /* Button used to open the contact form - fixed at the bottom of the page */
        .open-button {
            background-color: #2ECC71;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            opacity: 0.8;
            position: fixed;
            bottom: 23px;
            right: 28px;
            width: 280px;
        }

        /* The popup form - hidden by default */
        .form-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9;
        }

        /* Add styles to the form container */
        .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: white;
        }

            /* Full-width input fields */
            .form-container input[type=text], .form-container input[type=password] {
                width: 100%;
                height: 200px;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: none;
                background: #f1f1f1;
            }

                /* When the inputs get focus, do something */
                .form-container input[type=text]:focus, .form-container input[type=password]:focus {
                    background-color: #ddd;
                    outline: none;
                }

            /* Set a style for the submit/login button */
            .form-container .btn {
                background-color: #4CAF50;
                color: white;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                width: 100%;
                margin-bottom: 10px;
                opacity: 0.9;
            }

            /* Add a red background color to the cancel button */
            .form-container .cancel {
                background-color: red;
            }

            /* Add some hover effects to buttons */
            .form-container .btn:hover, .open-button:hover {
                opacity: 1;
            }
    </style>
</head>
<body>

    <!--Make an Offer Form Button-->
    <button class="open-button mb-5" onclick="openForm()">Make an Offer</button>

    <div class="form-popup" id="myForm">
        <form action="/action_page.php" class="form-container">

            <label for="email"><b>Emailing: hellera@seattleu.edu</b></label>
            <input type="text" placeholder="Make your offer..." name="email" required>

            <button type="submit" class="btn">Submit</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
        </form>
    </div>

</body>
</html>
