@page
@model RedhawksTradingPost.Pages.ItemPageModel
@{
    ViewData["Title"] = "ItemPage";
}


    <p style="text-align:center;">
        <img src="~/img/modernChair.png" width="350" height="450">
    </p>

    <div class="container">
        <center>
            <h1>Modern Office Chair</h1>
            <br>

            <p>
                The leather ages beautifully. The safety casters have a pressure-sensitive brake mechanism that keeps
                the chair in place when you stand up, and releases automatically when you sit down. Seat and backrest
                are adjustable in height and give you maximum support regardless of your height. You get good support
                for your thighs and back since the seat depth is adjustable. You can lean back with perfect balance,
                as the tilt tension mechanism automatically adjusts the resistance to suit your weight and movements.
            </p>

            <br>
            <p>Email offer to: <a href="/ItemPage"> hellera@seattleu.edu</a> </p>

            <p>Posted May 24, 2020.</p>

            <br>
            <a href="/Report" class="btn btn-danger">Report Item</a>

        </center>
    </div>


