@page
@model RedhawksTradingPost.Pages.TermsModel
@{
}

<!--Page Header-->
<h1>Terms of Use</h1>

<!--List header-->
<p>All items posted must be free. The following items and content is prohibited:</p>

<!--List Type-->
<ul class="a">

    <!--List item: Weapons-->
    <li>Weapons</li>

    <!--List item: Ammunition-->
    <li>Ammunition</li>

    <!--List item: Hazardous materials-->
    <li>Hazardous materials</li>

    <!--List item: Alcohol-->
    <li>Alcohol</li>

    <!--List item: Tobacco-->
    <li>Tobacco</li>

    <!--List item: Controlled substances-->
    <li>Controlled substances</li>

    <!--List item: Fraudulent posts-->
    <li>Fraudulent posts</li>

    <!--List item: Offensive/obscene/threatening posts-->
    <li>Offensive/obscene/threatening posts</li>

    <!--List item: Any item that violates the law or legal rights of others-->
    <li>Any item that violates the law or legal rights of others</li>
</ul>
