@page
@model RedhawksTradingPost.Pages.TermsModel
@{
}

<!--Page Header-->
<h1>Terms of Use</h1>

<!--List header-->
<p>All items posted must be free. The following items and content is prohibited:</p>

<!--List Type-->
<ul class="a">

    <!--List items-->
    <li>Weapons</li>
    <li>Ammunition</li>
    <li>Hazardous materials</li>
    <li>Alcohol</li>
    <li>Tobacco</li>
    <li>Controlled substances</li>
    <li>Fraudulent posts</li>
    <li>Offensive/obscene/threatening posts</li>
    <li>Any item that violates the law or legal rights of others</li>
</ul>
