@page
@model RedhawksTradingPost.Pages.TermsModel
@{
}

<div class="container pt-3">
    <!--Page Header-->
    <h1>Terms of Use</h1>

    <!--Prohibited Items List-->
    <dl>
        <dt>All items posted must be free. The following items and content is prohibited:</dt>
        <dd>- Weapons</dd>
        <dd>- Ammunition</dd>
        <dd>- Hazardous materials</dd>
        <dd>- Alcohol</dd>
        <dd>- Tabacco</dd>
        <dd>- Controlled substances</dd>
        <dd>- Fraudulent posts</dd>
        <dd>- Offensive/obscene/threatening posts</dd>
        <dd>- Any item that violates the law or legal rights of others</dd>
    </dl>
</div>

