@page
@model RedhawksTradingPost.Pages.UserPageModel
@{
    ViewData["Title"] = "UserPage";
}

<div class="container row">

    <!--container for nav right: profile picture, user name, address, email etc-->
    <div class="col-3">
        <img src="~/img/profilePicture.png" />

        <!--user icon and text-->
        <div class="row mt-1">
            <i class="material-icons md-48">person</i>
            <h6 class="mt-4 ml-1">my name</h6>
        </div>

    </div>

    <!--container for product-->
    <div class="col-9"style="background-color:pink">
        <h1>dummy text</h1>
    </div>
</div>
