@page
@model RedhawksTradingPost.Pages.UserPageModel
@{
    ViewData["Title"] = "UserPage";
}

<div class="container row">

    <!--container for nav right: profile picture, user name, address, email etc-->
    <div class="col-3">
        <img src="~/img/profilePicture.png" />
    </div>

    <!--container for product-->
    <div class="col-9">
        <h1>dummy text</h1>
    </div>
</div>
